/*reset css*/
* {margin: 0; padding: 0; box-sizing: border-box;}

body {
	padding-top: 100px;
	//background: #EDF7ED;
        background-image: url(imagens/logo_sistema.png), url(imagens/fundo_sistema.png);
        background-size: 15%, 100% auto;
        background-repeat: no-repeat;
	font-family: Calibri;
        
}
//main {
//	width: 500px; margin: 0 auto; padding-bottom: 10px;
//	background: white; border-radius: 3px; overflow: hidden;
//}
h1 {
        font-size: 24px; font-weight: normal;
	background: #DBF0DB; color: #0099FF;
	text-align: left; 
	padding: 10px 0; margin-bottom: 0px;
}
h2 {
	font-size: 24px; font-weight: normal;
	background: #DBF0DB; color: #0099FF;
	text-align: center; 
	padding: 10px 0; margin-bottom: 20px;
}


.menu{
    list-style:none; 
    border:0px solid #030001; 
    float:right; 
    padding: 10px 0;
}

.menu li{
    position:relative; 
    float:left; 
    border-right:1px solid #030001; 
}

.menu li a{
    color:#030001; 
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
}

.menu li a:hover{
    background:#BBACB3; 
    color:#fff; 
    -moz-box-shadow:0 3px 10px 0 #CCC; 
    -webkit-box-shadow:0 3px 10px 0 #ccc; 
    text-shadow:0px 0px 5px #BBACB3; 
}

.menu li   ul{
    position:absolute; 
    top:25px; 
    left:0; 
    background-color:#BBACB3; 
    display:none; 
}

.menu li:hover ul, .menu li.over ul{
    display:block;
}

.menu li ul li{
    border:1px solid #BBACB3;
    display:block; 
    width:150px;
}

.flp {padding: 0 50px;}
/*Let's place the label over the input*/
.flp div {position: relative; margin-bottom: 20px;}

.flp input, .flp label {
	width: 400px; display: block;
	font: inherit; font-size: 16px; line-height: 24px;
	/*fixed height for FF line height issue. 
	height = 24(lineheight) + 10*2(padding) + 2(border)*/
	height: 46px;
	border: 1px solid #999;
}
.flp table {
	width: 400px; display: block;
	font: inherit; font-size: 16px; line-height: 24px;
	/*fixed height for FF line height issue. 
	height = 24(lineheight) + 10*2(padding) + 2(border)*/
	height: 46px;
	border: 0px;
}

.flp input {padding: 10px; outline: none; border-radius: 3px;}
.flp label {
	position: absolute; left: 0; top: 0;
	/*left/right padding will be 2px less, adjusted by padding on .ch*/
	padding: 10px 8px;
	border-color: transparent; color: #666;
	cursor: text;
}

/*label styles*/
.ch {
	display: block; float: left;
	position: relative; /*for upward animation*/
	background: white; 
}
.ch:first-child {padding-left: 2px;}
.ch:last-child {padding-right: 2px;}

/*active input label*/
.focussed {
	/*when any input is already focussed clicking on it(label) again won't do anything*/
	pointer-events: none;
}

.flp3 {padding: 0 50px;}
/*Let's place the label over the input*/
.flp3 div {position: relative; margin-bottom: 20px;}

.flp3 input, .flp3 label {
	width: 175px; display: block;
	font: inherit; font-size: 16px; line-height: 24px;
	/*fixed height for FF line height issue. 
	height = 24(lineheight) + 10*2(padding) + 2(border)*/
	height: 25px;
	border: 1px solid #999;
}
.flp3 table {
        margin-left: 15%;
	width: 200px; 
        display: block;
	font: inherit; 
        font-size: 16px; 
        line-height: 24px;
	/*fixed height for FF line height issue. 
	height = 24(lineheight) + 10*2(padding) + 2(border)*/
	height: 25px;
	border: 0px;
}

.flp3 input button {padding: 1px; outline: none; border-radius: 3px;}
.flp3 label {
	position: absolute; left: 0; top: 0;
	/*left/right padding will be 2px less, adjusted by padding on .ch*/
	padding: 5px;
	border-color: transparent; color: #666;
	cursor: text;
        outline: none; border-radius: 3px
}

/*label styles*/
.ch {
	display: block; float: left;
	position: relative; /*for upward animation*/
	background: white; 
}
.ch:first-child {padding-left: 2px;}
.ch:last-child {padding-right: 2px;}

/*active input label*/
.focussed {
	/*when any input is already focussed clicking on it(label) again won't do anything*/
	pointer-events: none;
}

.recolha table{
    margin-top: 20%;
    margin-left: 15%;
    width: auto;
}
.recolha table tr{
    height: 30px;
   
}
.recolha table td{
    height: 100px;
    width: 75px;
}